.app {

  &__header {
    display: -webkit-flex;
    display: flex;
    background-color: #eae9e5;
    align-items: center;
    justify-content: center;

    &--logo {
      margin-right: auto;
      i {
        margin-left: 30px;
        max-width: 50%;
        font-size: 30px;
        color: $c-grey;
      }
    }

    a {
      margin: 15px;
      display: block;
      padding: 15px;
      text-decoration: none;
      color: $c-grey;
      i {
        margin-right: 5px;
        color: $c-blue;
      }
    }

    a:hover {
      color: $c-grey--dark;
      i {
        color: $c-blue--dark;
      }
    }
  }

  &__body {
    &__book-header {
      width: 100%;
      height: 50%;
      position: absolute;
      overflow: hidden;
      &--image {
        height: 100%;
        width: 100%;
        top: -200%;
        img {
          display: block;
          position: absolute;
          width: 100%;
          height: auto;
          left: 0; top: 0; bottom: 0; right: 0;
          margin: auto;
          -webkit-filter: blur(3px);
          filter: blur(3px);
        }
      }

      &--info {
        position: absolute;
        top: 10%;
      }
    }
  }
}
