.app {  }

.content {  }


.header {
  display: -webkit-flex;
  display: flex;
  background-color: #eae9e5;
  align-items: center;
  justify-content: center;

  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
    }
  }

  &__logo {
    margin-right: auto;
    i {
      margin-left: 30px;
      max-width: 50%;
      font-size: 30px;
      color: $c-grey;
    }
  }

  a {
    margin: 15px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $c-grey;
    i {
      margin-right: 5px;
      color: $c-blue;
    }
  }

  a:hover {
    color: $c-grey--dark;
    i {
      color: $c-blue--dark;
    }
  }
}

.hero {
  width: 100%;
  max-height: 50vh;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    filter: blur(3px);
    object-fit: cover;
    max-height: 50vh;
  }

  &__content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: $c-white;

    &__title {
      font-size: 4vh;
    }

    &__autor {
      font-size: 3vh;
    }

    span {
      float: left;
      width: 100%;
      margin-bottom: 1vh;
    }
  }
}

.reader {
  width: 100%;
  height: 100vh;
  background-color: #EAE9E5;

  &__nav {
    button {
      padding: 10px;
      i {
        color: #BDC5C6;
      }
    }

    botton:hover {
     background-color: #BDC5C6;
      i {
        color: #EAE9E5;
      }
    }
  }
}
